body {
    margin: 0;
    padding: 0;
} 
  
canvas {
    display: block;
}

.info {
    margin-bottom: -5px;
    text-align: right;
}

.infoContainer{
    position: fixed;
    bottom: 2%;
    margin-left:86.7%;                                                                                                      
    color: white;
}

.container{
  position: fixed;
}

.zoomValue{
    position: absolute;
    z-index: 1;
    top: 0.9%;
    left: 26.9%;
    color: white;
    font-size: 20px;
}

.speedContainer{
    position: absolute;
    z-index: 1;
    top: 7%;
    left: 26.9%;
    color: white;
    font-size: 20px;
}